.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
    height: 65px !important;
}

.img-logo {
    margin-top: 5px;
    align-items: center;
}

.css-2ldpwk-MuiAvatar-root {
    margin: 15px;
}

.css-lu9khh-MuiSwitch-root {
    margin-left: 20px !important;
    margin-right: -20px !important;
}