
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
    position: fixed !important;
    z-index: 999;
    height: 65px !important;
}

.img-logo {
    margin-top: 5px;
}

.css-2ldpwk-MuiAvatar-root {
    margin: 15px;
}

.css-lu9khh-MuiSwitch-root {
    margin-left: 20px !important;
}

.nav-text a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.nav-text a:hover {
    color: #1289A7;
}



